<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="app.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron" method="POST" action = "/search">
        <h1 class="display-4">LightSABR Search</h1>
        <p class="lead">Let the search engine be with you</p>
        <hr class="my-4">
        <form method="POST" action = "/search">
      <div class="form-row align-items-center" method="POST" action = "/search">
        <div class="col-sm-3 my-1">
          <label class="sr-only" for="inlineFormInputName">Name</label>
          <input type="text" class="form-control" id="inlineFormInputName" method="POST" action = "/search" placeholder="Search" name="query">
        </div>
        <div class="col-auto my-1">
          <button method="POST" action = "/search" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
    </div>
    <!-- Search Results-->

  <% pages.forEach(function(page){ %>
  <div class= "card-deck">
    <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= page._source.title %></h5>
      <p class="card-text"><%= page._source.body%></p>
      <p label = "highlight" class="card-text"><%- page.highlight.title[0] %></p>
      <a href="<%= page._source.url%>" class="card-link">Visit</a>
    </div>
  </div>
  </div>
  <% }); %>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
